.nom {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.ct {
  font-size: 25px;
}

.nom2 {
  text-transform: capitalize;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(70vh);
  padding-left: 20px;
}
