<div>
  <router-outlet></router-outlet>
</div>


<div class="nav" *ngIf="shouldDisplayNavButtons()">
  <button class="prenom flex-1 h-16 bg-gray-100 text-black focus:bg-gray-300" (click)="navigateTo('pet')">{{petInfo.name}}</button>
  <button class="flex-1 h-16 bg-gray-100  text-black focus:bg-gray-300" (click)="navigateTo('diary')">Journal</button>
  <button class="flex-1 h-16 bg-gray-100  text-black focus:bg-gray-300" (click)="navigateTo('shop')">Shop</button>
  <button class="flex-1 h-16 bg-gray-100  text-black focus:bg-gray-300" (click)="navigateTo('infos')">Infos</button>
</div>
