.nav {
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  display: flex;
  font-weight: 700;
  color: #333333;
}

.prenom {
  text-transform: capitalize;
  color: #333333;
}

.nav button {
  flex: 1;
  height: 70px;
  background-color: #eee;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav button:hover {
  background-color: #ddd;
}

.prenom {
  text-transform: capitalize;
}

.prenom {
  text-transform: capitalize;
}
