button {
    background-color: rgb(188, 223, 223);
    color: #333333;
    padding: 10px;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(88, 89, 89);
    color: #888888;
    padding: 10px;
    border-radius: 15px;
}