.nom {
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
  }

  .journal{
    padding-left: 20px;
  }
  .jour{
    font-size:25px;
    text-transform: capitalize;
    font-weight:600;
  }
  .actions{
    padding-left: 20px;
    font-size:20px;
  }